[submodule "3rd/Cpl"]
	path = 3rd/Cpl
	url = https://github.com/ermig1979/Cpl.git
[submodule "3rd/Simd"]
	path = 3rd/Simd
	url = https://github.com/ermig1979/Simd.git
	branch = master
[submodule "3rd/libjpeg-turbo"]
	path = 3rd/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
